# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# ML
*.pth
*.pt
*.onnx

# Satellite data
data/raw/*
data/processed/*
data/predictions/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/predictions/.gitkeep

# Frontend
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store